<!DOCTYPE html>
<html>
    <head>
        <title>The Wall</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="/assets/js/wall.js"></script>
        <link rel="stylesheet" type="text/css" href="/assets/styles/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/assets/styles/wall.css" />
    </head>
    <body>
        <header>
            <h1>CodingDojoWall</h1>
            <div>
                <p>Welcome <%= user["first_name"] %> </p>
                <a href="/logoff">log off</a>
            </div>
        </header>
        <div id="content">
            <div id="post_writer">
                <h2>Post a message</h2>
                <div id="message_errors">                
                </div>
                <form id="main_poster" action="/post_message" method="post">
                    <textarea name="message_box"></textarea>
                    <input type="submit" value="Post a message" />                
                </form>
            </div>
<% for(let key in fetched_contents){ 
    let message = fetched_contents[key] %>
            <div class="message">
                <h4><%= message["first_name"] %> <%=message["last_name"] %> - <%=message["created_at"]%> </h4>
                <p><%= message["message"] %></p>  
<% if(user["id"] === message["user_id"]){ %>                
                <form class="delete_form" action="/delete_message" method="POST">
                    <input type="hidden" name="messages_id" value="<%=message["messages_id"]%>" />
                    <input type="submit" value="Delete message" />
                </form>  
<% } %>
<%      for(let inner_key in message["comments"]){ 
                let comment = fetched_contents[key]["comments"][inner_key] %>
                <div class="comment">
                    <h4><%= comment["first_name"] %> <%=comment["last_name"] %> - <%=comment["created_at"] %> </h4>
                    <p><%= comment["comment"] %></p>                    
                </div>
<%          if(user["id"] === comment["user_id"]){ %>
                <form class="delete_form" action="/delete_comment" method="POST">
                    <input type="hidden" name="comments_id" value="<%=comment["comments_id"]%>"/>
                    <input type="submit" value="Delete Comment" />
                </form>
        <% } %>
<%      } %>  
            <div class="inside_comment">            
                <h3>Post a Comment</h3>
                <div class="comment_errors">                
                </div>
                <form action="/post_comment" method="POST">
                    <input type="hidden" name="message_id" value="<%= fetched_contents[key]["messages_id"] %>" />
                    <textarea name="comment_box" placeholder="Insert Comment Here"></textarea>
                    <input class="post_button" type="submit" value="Post a comment" />
                </form>
            </div>
<% } %> 
        </div>
    </body>
</html>